---
// Archivo: src/layouts/Layout.astro
import { ViewTransitions } from "astro:transitions";
import "../styles/global.css";
import Header from "@components/ui/Header.astro"; // Usando tus alias del tsconfig
import Footer from "@components/ui/Footer.astro";

// Permitimos que las páginas le pasen su propio título y descripción
interface Props {
  title?: string;
  description?: string;
}

// Si una página no le pasa título, usa este por defecto
const { 
  title = "NORIR STUDIO | Código Estructural & Visualización 3D",
  description = "NORIR STUDIO: Expertos en ingeniería de software y visualización arquitectónica fotorrealista. Sinergia entre desarrollo full-stack (UTN) y arquitectura (UBA)."
} = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/icon.svg" />
    <meta name="generator" content={Astro.generator} />
    
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="author" content="NORIR STUDIO" />
    <meta name="keywords" content="NORIR STUDIO, renders, desarrollo web, arquitectura, UTN, UBA, full-stack, CGI" />

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="https://www.norirstudio.vercel.app/norirstudion.png" />
    <meta property="og:url" content="https://www.norirstudio.vercel.app" />

    <ViewTransitions />
  </head>
  <body class="relative bg-primary overflow-x-hidden">
    <Header />
    
    <slot />
    
    <Footer />
  </body>
</html>